# Pycharm
/.idea

# Python
*.pyc

# Pyenv
/.python-version

# env
.env
.production.env

#Django
/media/
/static/

# Poetry
*.egg-info/

# Coverage
/.coverage
/htmlcov/
/coverage.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
